* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #222;
    color: #fff;
    font-family: system-ui;
    height: 100vh;

}

.crud {
    width: 80%;
    margin: auto;
}

.head {
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;
}

input {
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    background-color: #111;
    margin: 4px 0;
    border-radius: 4px;
    padding: 4px;
    color: #fff;
}

input:focus {
    background: #000;
    transform: scale(1.1);

}

.price input {
    width: 20%;
}


#total {
    background: red;
    padding: 4px;
    border-radius: 4px;
}


.create-button {
    width: 100%;
    padding: 8px;
    border-radius: 80px;
    background: #51025f;
    border: #51025f;
    font-size: 20px;
    transition: all 0.3s ease;

}


.create-button:hover {
    background-color: green;
    letter-spacing: 1px;
}


.searching-buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.searching-buttons button {
    width: 45%;
    background: #51025f;
    border: #51025f;
    transition: all 0.3s ease;
    border-radius: 50px;
    padding: 8px;
    font-size: 20px;

}

.searching-buttons button:hover {
    background-color: green;
    letter-spacing: 1px;
}

.delete-btn {
    background-color: #51025f;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.delete-btn:hover {
    background-color: #c1121f;
    transform: scale(1.05);
}

.update-btn {
    background-color: #51025f;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.update-btn:hover {
    background-color: #457b9d;
    transform: scale(1.05);
}

.table {
    overflow-x: scroll;
    margin: 5px;
    width: 100%;
    padding: 5px;
    text-align: center;
    border-collapse: collapse;

}

td {
    padding: 5px 0 0 0;
    font-size: 20px;
}

tr {
    background-color: #1c19194f;
    transition: all 0.3s ease;
}

tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.116);
}

#update {
    width: 100%;
    padding: 8px;
    border-radius: 80px;
    background: #51025f;
    border: #51025f;
    font-size: 15px;
    transition: all 0.3s ease;
}

#update:hover {
    background-color: green;
    letter-spacing: 1px;
}


#delete {
    width: 100%;
    padding: 5px;
    border-radius: 80px;
    background: #51025f;
    border: #51025f;
    font-size: 15px;
    transition: all 0.3s ease;
}

#delete:hover {
    background-color: rgb(142, 2, 2);
    letter-spacing: 1px;
}
 
th,td {
    /* width: 100%; */
    padding-right:50px;
    font-size: 20px;
    align-content: center;
}


thead tr th {
    font-size: 17px;
}
thead{
    /* width: 100%; */
    /* position: absolute; */
}
.delete_all {
    width: 100%;
    height: 40px;
    margin-top: 5px;
    background-color: #51025f;
    border: none;
    border-radius: 50px;
    font-size: 20px;
    visibility: hidden;

}

.delete_all:hover {
    background-color: #c1121f;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

.hidden{
    display: none;
}

.block {
    display: block;
}